* {
	padding: 0;
	margin: 0;
	box-sizing: none;
	font-family: "Source Sans Pro", sans-serif;
	/* border: 1px solid green; */
}
body {
	background-color: white;
	margin-top: 30px;
	/* margin-left: 100px; */
	transition-duration: 0.5s;
}
nav {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #cf6400;
}

input:focus + .slider {
	box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Div Introduction */
.greeting {
	display: flex;
	align-items: center;
}
.greeting p {
	margin-right: 20px;
}
.divIntroduction {
	margin-top: 150px;
	margin-left: 10%;
}
.divIntroduction p {
	font-size: 3em;
}
.intro {
	margin-top: 75px;
	width: 850px;
}
.intro p {
	font-size: 55px;
}
.intro b {
	font-size: 60px;
}
.email {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	margin-top: 75px;
}
.email p {
	font-size: 30px;
}
#email {
	text-decoration: none;
	font-style: normal;
	font-size: 30px;
	color: black;
	border-bottom: 3px solid rgb(255, 132, 0);
	transition-duration: 1s;
}
.divBackground{
	margin-top: 25%;
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
}
.div-bgc-wrapper{
	/* border: 1px solid green; */
	width: 60%;;
	display: flex;
	justify-content: center;
}
.div-p-bgc, .div-p-exp, .div-p-proj{
	/* border: 1px solid red; */
	font-weight: bold;
	font-size: 1.5em;
	margin-right: 50px;
	color:rgb(255, 132, 0) ;
}
.div-bgc{
	/* border: 1px solid red; */
	width: 60%;
	font-size: 1.5em;
	text-align: justify;
	line-height: 170%;
}
/* Experience */
.divExperience{
	margin-top: 25%;
	margin-bottom: 25%;
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}
.div-exp-wrapper{
	width: 45%;
	display: flex;
}
.div-exp p{
	font-size: 1.5em;
	line-height: 170%;
}
.p-exp-company{
	font-weight: bold;
}
.div-date{
	position: absolute;
	right: 15px;
} 
.div-date p{
	font-family: 'Inconsolata', monospace;
	font-size: 1.3em;
}

