* {
	padding: 0;
	margin: 0;
	box-sizing: none;
	font-family: "Source Sans Pro", sans-serif;
	/* font-family: "Inconsolata", monospace; */
	/* color: rgb(255, 132, 0); */
	/* border: 1px solid green; */
}
body {
	background-color: rgb(223, 223, 245);
	/* margin-left: 100px; */
}
