* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: "Lobster", cursive; */
	color: white;
}
.parallax-container {
	font-family: "Lobster", cursive;
}
body {
	background-color: rgb(0, 13, 24);
}

/* .heartDiv,
.innerheartDiv {
	background-color: rgb(0, 13, 24);
} */
.parallax-container {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.parallax-container nav {
	position: absolute;
	z-index: 100;
	width: 60%;
	left: 40%;
	top: 7%;
}
.techDStep {
	margin-top: -10%;
}
.techDStep p {
	position: relative;
}
.parallax-container nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}
.parallax-container nav ul li {
	display: flex;
	height: 50px;
}
.parallax-container nav ul a {
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	font-family: "Sriracha", cursive !important;
}
.contactli a {
	color: #e62c3a !important;
}
.contactli a:hover {
	color: red !important;
}
.parallax-container img {
	width: 100%;
	height: 100vh;
}
.rellax {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	z-index: 10;
	width: 100%;
	height: 100vh;
	transform-style: preserve-3d;
}
.aboutMeDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.aboutMePicDiv {
	padding: 5%;
	display: flex;
	justify-content: center;
	/* border: 1px solid red; */
	background-image: linear-gradient(to bottom right, rgb(0, 13, 24), black);
}
.aboutMePic {
	border: 5px solid orangered;
	width: 260px;
	border-radius: 50%;
}
.aboutMeDescriptionDiv {
	/* border: 1px solid; */
	font-size: 1.5em;
	padding-left: 15%;
	padding-right: 15%;
	/* height: 1200px; */
	/* max-width: 660px; */
	font-family: "Sriracha", cursive !important;
	/* text-align: justify; */
	background-image: linear-gradient(to bottom left, black, rgb(0, 14, 24));
}
.aboutMeDescriptionDiv p {
	text-align: justify;
	line-height: 270%;
}
.title {
	text-align: center;
	font-size: 1.5em;
}
.kenburns-top {
	animation: kenburns-top 3s ease-in-out infinite alternate both;
}
.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 3s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate both;
	animation: blur-out-expand-fwd 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		alternate both;
}
.puff-in-center {
	-webkit-animation: puff-in-center 5s cubic-bezier(0.47, 0, 0.745, 0.715)
		both;
	animation: puff-in-center 5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.76s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: text-pop-up-top 0.76s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.bounce-out-left {
	-webkit-animation: bounce-out-left 1.5s both;
	animation: bounce-out-left 1.5s both;
}
.roll-in-right {
	-webkit-animation: roll-in-right 0.6s ease-out both;
	animation: roll-in-right 0.6s ease-out both;
}
.scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.5s
		cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
		both;
}
.scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 1s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}
.bounce-in-bck {
	-webkit-animation: bounce-in-bck 1.1s both;
	animation: bounce-in-bck 1.1s both;
}
.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
		both;
	animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}
@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}
@-webkit-keyframes blur-out-expand-fwd {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@keyframes blur-out-expand-fwd {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@-webkit-keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
			0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
			0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
}
@keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
			0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
			0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
}
@-webkit-keyframes bounce-out-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	5% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	15% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	25% {
		-webkit-transform: translateX(-38px);
		transform: translateX(-38px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	52% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	70% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	85% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
}
@keyframes bounce-out-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	5% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	15% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	25% {
		-webkit-transform: translateX(-38px);
		transform: translateX(-38px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	52% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	70% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	85% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
}
@-webkit-keyframes roll-in-right {
	0% {
		-webkit-transform: translateX(800px) rotate(540deg);
		transform: translateX(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}
@keyframes roll-in-right {
	0% {
		-webkit-transform: translateX(800px) rotate(540deg);
		transform: translateX(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes scale-out-horizontal {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
}
@keyframes scale-out-horizontal {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
}
@-webkit-keyframes scale-in-hor-center {
	0% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}
}
@keyframes scale-in-hor-center {
	0% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}
}
@-webkit-keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes bounce-in-bck {
	0% {
		-webkit-transform: scale(7);
		transform: scale(7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-bck {
	0% {
		-webkit-transform: scale(7);
		transform: scale(7);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	89% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@-webkit-keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}
@keyframes slide-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
}

/* .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.container > div {
	width: 32%;
	height: 50vh;
	margin-bottom: 25px;
}
.container > div > * {
	border-radius: 30px;
}
.parallax-horizontal {
	margin-top: 10%;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
} */
/* .heartBeatPress {
	position: absolute;
	top: 30%;
	font-size: 100px;
	cursor: pointer;
	color: #e6959f;
}
.hiddenDiv,
.appearDiv,
.restartDiv {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 0;
}
.appearDiv {
	margin-top: 10%;
	font-size: 1em;
}
.restartDiv {
	margin-top: 30%;
}
.restartDiv p {
	font-size: 1em;
	color: #17d6a2;
	width: 40%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border: 3px solid #17d6a2;
	border-radius: 50px;
	padding: 20px;
}
.hiddenImg,
.restartDiv p {
	cursor: pointer;
} */
/* .heartDiv {
	position: relative;
	display: flex;
	justify-content: center;
	height: 50vh;
	background-color: orange;
	transform-style: preserve-3d;
}
.innerheartDiv {
	transform: translateZ(200px);
} */
/* .p-heart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
} */

/* Tablet */
@media only screen and (max-width: 800px) {
	.parallax-container nav {
		width: 100%;
		left: 0;
		/* border: 1px solid; */
	}
}
/* Mobile */
@media only screen and (max-width: 600px) {
	.parallax-container nav {
		width: 100%;
		left: 0;
		/* border: 1px solid; */
	}
	.parallax-container nav ul a {
		font-size: 1em;
	}
}
