<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haymond's Portfolio</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../script/script.js"></script>
  </head>
  <body>
    <nav>
      <img src="../img/sun.png" alt="" />
      <div class="switchDarkMode">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <img src="../img/moon.png" alt="" />
    </nav>

    <div class="divIntroduction">
      <div class="greeting">
        <p>Hello!</p>
        <img src="../img/handwave.png" alt="" width="50px" />
      </div>
      <div class="intro">
        <p>
          I'm Haymond Yan, a design-minded front-end software engineer focused
          on building beautiful interfaces & experiences
        </p>
      </div>
    </div>
  </body>
</html>
